In [1]:
# Base
import os
import re
import time
import math
import numpy as np
import pandas as pd
import datetime as dtt

# Analysis
import pyswarms as ps
from scipy import special as sp
from scipy.optimize import curve_fit
from numpy.polynomial import Polynomial
from scipy.signal import savgol_filter as sfilter

# Geospatial
import fiona
import xarray as xr
import hydroeval as he
# import geopandas as gpd
# from maps_original import *

# Graphics
import seaborn as sns
import matplotlib as mplt
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

In [15]:
df = pd.read_csv('LAI_Budrio.csv', delimiter=',', header=None); df
df[0] = df[0].apply(lambda x : time.strftime("%x %X", time.localtime(x)) )

In [13]:
# time.strftime('%x', time.gmtime(acq_time/1000))

In [16]:
df

                     0        1
0    01/09/70 13:38:30  0.35038
1    01/09/70 13:38:30  0.34728
2    01/09/70 13:38:30  0.34418
3    01/09/70 13:38:30  0.34108
4    01/09/70 13:38:30  0.33797
..                 ...      ...
351  01/09/70 13:44:20  0.29069
352  01/09/70 13:44:20  0.29069
353  01/09/70 13:44:20  0.29069
354  01/09/70 13:44:20  0.29069
355  01/09/70 13:44:20  0.29069

[356 rows x 2 columns]